<!DOCTYPE html>
<meta charset="utf-8">
<html>
<header>
    <title>
        Network diagram sample
    </title>
    <style>
        .links line {
            stroke: #999;
            stroke-opacity: 0.6;
        }

        .nodes circle {
            stroke: #fff;
            stroke-width: 1.5 px;
        }
        .nodes text {
            pointer-events: none;
            font: 10px sans-serif;
        }
    </style>
    <script src="resources\libs\jquery.js"></script>
    <script src="resources\libs\d3.js"></script>
</header>
<body>
<svg width="960" height="600"></svg>
<script src="resources\graph.js"></script>
</body>
</html>