.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.popover ul {
    font-size: small;
    font-family: "Lucida Console";
    padding-left: 5px;
}
.popover ul ul{
    list-style: disc;
    padding-left: 10px;
}

.popover ul ul ul{
    list-style: circle;
    padding-left: 15px;
}